
html,body {
    height:100%;
    margin: 0
}

.app {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.app .topmenu {
    background-color: #555;
    flex: 0 1 auto;
    text-align: center;
}

/* Style the tab buttons */
.tablink {
    display: inline-block;
    background-color: inherit;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px;
    font-size: 17px;
    width: 30%;
    
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.app .tabcontent {
    flex: 1 1 auto;
    color: white;
    display: none;
    padding-top: 50px;
    text-align: center;
}

/* Style each tab content individually */ 
#Navigate {background-color:green;}
#Plan {background-color:blue;}
#Menu {background-color:orange;}


/* section for scrollmenu */

div.skillmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
}

div.skillmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.skillmenu a:hover {
    background-color: #777;
}

.app .statusbar {
    flex: 0 1 120px;
}